{% extends 'index.html' %}

{% block pub_active %}
    <li><a href="/books/publisher_list">出版社列表 <span class="sr-only">(current)</span></a></li>
    <li class="active"><a href="/books/book_list">书籍列表</a></li>
    <li><a href="/books/author_list">作者列表</a></li>
    <li><a href="#">Export</a></li>
{% endblock %}

{% block main %}
    <div>
        <h2 class="sub-header">书籍列表</h2>
        <a href="/books/add_book/">新增</a>
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>编号</th>
                <th>书籍名称</th>
                <th>出版社名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for book in all_books %}
                <tr>
                    <td>{{ book.bookid }}</td>
                    <td>{{ book.bookname }}</td>
                    <td>{{ book.publisher.pubname }}</td>
                    <td>
                        <a class="btn btn-warning btn-sm"
                           href="/books/update_book/?bookid={{ book.bookid }}">更新</a>
                        <button url="/books/del_book/?bookid={{ book.bookid }}" class="btn btn-danger btn-sm">删除
                        </button>
                        {#<a class="btn btn-danger btn-sm" href="/books/del_book/?bookid={{ book.bookid }}">删除</a>#}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% load mytags %}

    {% pagination books_length %}
{% endblock %}